@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body {
    margin: 0px;
    scroll-behavior: smooth;
    background: #CCCCCA;
}

body, a {
    color: #270B0E;
}

* {
    font-family: 'Fira Sans', sans-serif;
}

project-preview {
    width: 90vw;
    height: 60vh;
    left: 5%;
    margin-bottom: 50px;
    color: #FFFFFF;
}

project-preview:nth-child(2n+1) {
    background: #AF5443;
}

project-preview:nth-child(2n) {
    background: #751E12;
}

social-media {
    margin-bottom: 20px;
}

#about-me {
    position: relative;
    width: 90vw;
    left: 5%;
    margin-bottom: 50px;
    font-size: 1.5vw;
    line-height: 2vw;
}

#about-me .slogan {
    font-size: 2.5vw;
    line-height: 3vw;
}

@media screen and (max-width: 1000px) {
    #about-me {
        font-size: 3vw;
        line-height: 4vw;
    }
    
    #about-me .slogan {
        font-size: 4vw;
        line-height: 5vw;
    }
}
